Destiny-2-Font-Symbols
manifest_tables/*.json
manifests/*
data/**/*.json
output/**/*.json
built/*
.vscode
node_modules/
pnpm-lock.yaml
*.md
!output/seasonal-challenges.json
!output/pursuits.json
!output/crafting-mementos.json
!output/season-to-source.json
