# This workflow runs when a new manifest is detected by cron
name: New Manifest Detected
on:
  workflow_dispatch:
  repository_dispatch:
    types: [new-manifest-detected]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ./.github/actions/setup-pnpm

      - name: Generate new D2AI information
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: pnpm generate-data

      - name: porcelain check
        uses: dorny/paths-filter@v3
        id: D2AI-data
        with:
          base: HEAD
          filters: |
            changed:
              - '**'

      - name: Create Pull Request
        if: steps.D2AI-data.outputs.changed == 'true'
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.PAT }}
          commit-message: D2AI - Update All - Manifest v${{ github.event.client_payload.config.env.MANIFEST_VERSION }}
          committer: D2AI Bot <destinyitemmanager@gmail.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          title: '[D2AI] Manifest Update'
          body: |
            Manifest Update
            - Update All - Manifest v${{ github.event.client_payload.config.env.MANIFEST_VERSION }}
            - Auto-generated by [D2AI][1]

            [1]: https://github.com/DestinyItemManager/d2-additional-info
          branch: d2ai-manifest-v${{ github.event.client_payload.config.env.MANIFEST_VERSION }}
